In [1]:
from pathlib import Path

from star_parser import StarParser, StarTabDf

In [9]:
work_folder = Path(f'/mnt/DATA/andrea/20210525_USP7_GMPS')
starfile_in = work_folder/'P66_J50.star'
data = StarParser(starfile_in).parse()

In [10]:
ptcls = data['data_particles']

In [11]:
ptcls.to_df()

,MicrographName,CoordinateX,CoordinateY,DefocusU,DefocusV,DefocusAngle,PhaseShift,CtfBfactor,OpticsGroup
0,J2/motioncorrected/013818530428477513860_AM_20...,2564,965,11687.972656,11593.641602,36.414398,0.000000,0.000000,1
1,J2/motioncorrected/013818530428477513860_AM_20...,1562,1626,11505.719727,11411.388672,36.414398,0.000000,0.000000,1
2,J2/motioncorrected/013818530428477513860_AM_20...,3209,2633,15243.822266,15149.491211,36.414398,0.000000,0.000000,1
3,J2/motioncorrected/013818530428477513860_AM_20...,634,384,12073.649414,11979.318359,36.414398,0.000000,0.000000,1
4,J2/motioncorrected/013818530428477513860_AM_20...,405,3385,11024.894531,10930.563477,36.414398,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...
100810,J2/motioncorrected/012057531733848901854_AM_20...,1253,389,15940.790039,15570.680664,-36.726151,0.000000,0.000000,1
100811,J2/motioncorrected/012057531733848901854_AM_20...,2111,773,15972.133789,15602.024414,-36.726151,0.000000,0.000000,1
100812,J2/motioncorrected/012057531733848901854_AM_20...,656,554,16120.722656,15750.613281,-36.726151,0.000000,0.000000,1
100813,J2/motioncorrected/012057531733848901854_AM_20...,2015,1620,16135.970703,15765.861328,-36.726151,0.000000,0.000000,1
100814,J2/motioncorrected/012057531733848901854_AM_20...,3316,1482,15979.027344,15608.917969,-36.726151,0.000000,0.000000,1

In [12]:
ptcls.keep_only_columns(['MicrographName','CoordinateX','CoordinateY'], store=True)

,MicrographName,CoordinateX,CoordinateY
0,J2/motioncorrected/013818530428477513860_AM_20...,2564,965
1,J2/motioncorrected/013818530428477513860_AM_20...,1562,1626
2,J2/motioncorrected/013818530428477513860_AM_20...,3209,2633
3,J2/motioncorrected/013818530428477513860_AM_20...,634,384
4,J2/motioncorrected/013818530428477513860_AM_20...,405,3385
...,...,...,...
100810,J2/motioncorrected/012057531733848901854_AM_20...,1253,389
100811,J2/motioncorrected/012057531733848901854_AM_20...,2111,773
100812,J2/motioncorrected/012057531733848901854_AM_20...,656,554
100813,J2/motioncorrected/012057531733848901854_AM_20...,2015,1620
100814,J2/motioncorrected/012057531733848901854_AM_20...,3316,1482

In [13]:
ptcls.remove_prefix_from_column('J2/motioncorrected/','MicrographName', store=True)

,MicrographName,CoordinateX,CoordinateY
0,013818530428477513860_AM_20210225_002_patch_al...,2564,965
1,013818530428477513860_AM_20210225_002_patch_al...,1562,1626
2,013818530428477513860_AM_20210225_002_patch_al...,3209,2633
3,013818530428477513860_AM_20210225_002_patch_al...,634,384
4,013818530428477513860_AM_20210225_002_patch_al...,405,3385
...,...,...,...
100810,012057531733848901854_AM_20210525_406_patch_al...,1253,389
100811,012057531733848901854_AM_20210525_406_patch_al...,2111,773
100812,012057531733848901854_AM_20210525_406_patch_al...,656,554
100813,012057531733848901854_AM_20210525_406_patch_al...,2015,1620
100814,012057531733848901854_AM_20210525_406_patch_al...,3316,1482

In [20]:
split = ptcls.to_df().groupby('MicrographName')
split_dir = Path('/mnt/DATA/andrea/20210525_USP7_GMPS/cryosparc_exported_coords/split_star')
if not split_dir.exists():
    split_dir.mkdir()
for fname, data in split:
    x = StarTabDf(data)
    x.remove_columns('MicrographName', store=True)
    fname = fname.replace('.mrc','.star')
    with open(split_dir/fname, 'w') as f:
        f.write(x.to_star())

In [17]:
work_folder

PosixPath('/mnt/DATA/andrea/20210525_USP7_GMPS')