In [3]:
import pandas as pd

from pathlib import Path

from star_parser import StarParser, StarTabDf

In [4]:
work_folder = Path(r"/mnt/DATA/jitske/JB_20210825_FT040_NeCeN/csparc2relion")
star_in=work_folder/"P101_J25_passthrough_particles_class_3.star"
star_in.exists()

True

In [5]:
parser = StarParser(star_in)
data = parser.parse()

In [6]:
ptcls = data["data_particles"]
ptcls.keep_only_columns(['MicrographName','CoordinateX','CoordinateY'], store=True)

,MicrographName,CoordinateX,CoordinateY
0,J4/motioncorrected/000002540963201941247_FoilH...,1818,1282
1,J4/motioncorrected/000002540963201941247_FoilH...,1693,2177
2,J2/motioncorrected/000002824280520818298_FoilH...,4509,2776
3,J2/motioncorrected/000002824280520818298_FoilH...,4729,2706
4,J2/motioncorrected/000002824280520818298_FoilH...,4802,2683
...,...,...,...
158648,J4/motioncorrected/018444056777400416150_FoilH...,4557,3152
158649,J4/motioncorrected/018444056777400416150_FoilH...,4579,3224
158650,J4/motioncorrected/018445943398413746503_FoilH...,5147,1978
158651,J4/motioncorrected/018445943398413746503_FoilH...,5193,1916
158652,J4/motioncorrected/018445943398413746503_FoilH...,5239,1854

In [7]:
prefix = "J2/motioncorrected/"
ptcls.remove_prefix_from_column(prefix, 'MicrographName', store=True)
prefix = "J4/motioncorrected/"
ptcls.remove_prefix_from_column(prefix, 'MicrographName', store=True)

,MicrographName,CoordinateX,CoordinateY
0,000002540963201941247_FoilHole_26599004_Data_2...,1818,1282
1,000002540963201941247_FoilHole_26599004_Data_2...,1693,2177
2,000002824280520818298_FoilHole_25541376_Data_2...,4509,2776
3,000002824280520818298_FoilHole_25541376_Data_2...,4729,2706
4,000002824280520818298_FoilHole_25541376_Data_2...,4802,2683
...,...,...,...
158648,018444056777400416150_FoilHole_26605017_Data_2...,4557,3152
158649,018444056777400416150_FoilHole_26605017_Data_2...,4579,3224
158650,018445943398413746503_FoilHole_26601548_Data_2...,5147,1978
158651,018445943398413746503_FoilHole_26601548_Data_2...,5193,1916
158652,018445943398413746503_FoilHole_26601548_Data_2...,5239,1854

In [8]:
ptcls.trim_column_values('MicrographName', start=len('018446072967243533592_'), store=True)

,MicrographName,CoordinateX,CoordinateY
0,FoilHole_26599004_Data_26598154_26598156_20210...,1818,1282
1,FoilHole_26599004_Data_26598154_26598156_20210...,1693,2177
2,FoilHole_25541376_Data_25535916_25535918_20210...,4509,2776
3,FoilHole_25541376_Data_25535916_25535918_20210...,4729,2706
4,FoilHole_25541376_Data_25535916_25535918_20210...,4802,2683
...,...,...,...
158648,FoilHole_26605017_Data_26598157_26598159_20210...,4557,3152
158649,FoilHole_26605017_Data_26598157_26598159_20210...,4579,3224
158650,FoilHole_26601548_Data_26598157_26598159_20210...,5147,1978
158651,FoilHole_26601548_Data_26598157_26598159_20210...,5193,1916
158652,FoilHole_26601548_Data_26598157_26598159_20210...,5239,1854

In [9]:
[p for p in ptcls.to_df()['MicrographName'] if not p.startswith('FoilHole')]

[]

In [10]:
ptcls.remove_prefix_from_column('_patch_aligned_doseweighted', 'MicrographName', store=True)
ptcls.to_df()['MicrographName'][0]

'FoilHole_26599004_Data_26598154_26598156_20210826_125510_fractions.mrc'

In [11]:
# y = list(ptcls.to_df()['CoordinateY'])
# df = pd.DataFrame({'CoordinateY': [int(i)*2 for i in y]}, dtype=str)
# ptcls.remove_columns(['CoordinateY'], store=True)
# ptcls.add_columns(df,store=True)

In [12]:
# x = list(ptcls.to_df()['CoordinateX'])
# df = pd.DataFrame({'CoordinateX': [int(i)*2 for i in x]}, dtype=str)
# ptcls.remove_columns(['CoordinateX'], store=True)
# ptcls.add_columns(df, store=True)

In [13]:
ptcls.to_df()['CoordinateY'].min()

'1000'

In [14]:
split = ptcls.to_df().groupby('MicrographName')
split_dir = work_folder/'clean_starfiles_cl3'
if not split_dir.exists():
    split_dir.mkdir()
for fname, data in split:
    x = StarTabDf(data)
    fname = fname.replace('.mrc','.star')
    with open(split_dir/fname, 'w') as f:
        f.write(x.to_star())