In [14]:
import pandas as pd

from pathlib import Path

from star_parser import StarParser, StarTabDf

In [2]:
work_folder = Path(r"/mnt/home/a.murachelli/temp/niels")
star_in=work_folder/"P53_J368.star"
star_in.exists()

True

In [3]:
parser = StarParser(star_in)
data = parser.parse()

In [4]:
ptcls = data["data_particles"]
ptcls.keep_only_columns(['MicrographName','CoordinateX','CoordinateY'], store=True)

,MicrographName,CoordinateX,CoordinateY
0,J35/motioncorrected/000013529656059020034_Foil...,3668,1508
1,J35/motioncorrected/000013529656059020034_Foil...,272,2532
2,J35/motioncorrected/000013529656059020034_Foil...,2984,2928
3,J35/motioncorrected/000013529656059020034_Foil...,1476,2584
4,J35/motioncorrected/000013529656059020034_Foil...,2688,2772
...,...,...,...
201274,J35/motioncorrected/018430751161974202437_Foil...,5268,2052
201275,J35/motioncorrected/018430751161974202437_Foil...,4272,1040
201276,J35/motioncorrected/018430751161974202437_Foil...,596,300
201277,J35/motioncorrected/018430751161974202437_Foil...,196,3840
201278,J35/motioncorrected/018430751161974202437_Foil...,1588,2048

In [5]:
prefix = "J35/motioncorrected/"
ptcls.remove_prefix_from_column(prefix, 'MicrographName', store=True)

,MicrographName,CoordinateX,CoordinateY
0,000013529656059020034_FoilHole_16912696_Data_1...,3668,1508
1,000013529656059020034_FoilHole_16912696_Data_1...,272,2532
2,000013529656059020034_FoilHole_16912696_Data_1...,2984,2928
3,000013529656059020034_FoilHole_16912696_Data_1...,1476,2584
4,000013529656059020034_FoilHole_16912696_Data_1...,2688,2772
...,...,...,...
201274,018430751161974202437_FoilHole_16908561_Data_1...,5268,2052
201275,018430751161974202437_FoilHole_16908561_Data_1...,4272,1040
201276,018430751161974202437_FoilHole_16908561_Data_1...,596,300
201277,018430751161974202437_FoilHole_16908561_Data_1...,196,3840
201278,018430751161974202437_FoilHole_16908561_Data_1...,1588,2048

In [6]:
ptcls.trim_column_values('MicrographName', start=len('000013529656059020034_'), store=True)

,MicrographName,CoordinateX,CoordinateY
0,FoilHole_16912696_Data_16904189_16904191_20210...,3668,1508
1,FoilHole_16912696_Data_16904189_16904191_20210...,272,2532
2,FoilHole_16912696_Data_16904189_16904191_20210...,2984,2928
3,FoilHole_16912696_Data_16904189_16904191_20210...,1476,2584
4,FoilHole_16912696_Data_16904189_16904191_20210...,2688,2772
...,...,...,...
201274,FoilHole_16908561_Data_16904183_16904185_20210...,5268,2052
201275,FoilHole_16908561_Data_16904183_16904185_20210...,4272,1040
201276,FoilHole_16908561_Data_16904183_16904185_20210...,596,300
201277,FoilHole_16908561_Data_16904183_16904185_20210...,196,3840
201278,FoilHole_16908561_Data_16904183_16904185_20210...,1588,2048

In [7]:
ptcls.remove_prefix_from_column('_patch_aligned_doseweighted', 'MicrographName', store=True)
ptcls.to_df()['MicrographName'][0]

'FoilHole_16912696_Data_16904189_16904191_20210317_231414_fractions.mrc'

In [21]:
split = ptcls.to_df().groupby('MicrographName')
split_dir = work_folder/'split_star'
if not split_dir.exists():
    split_dir.mkdir()
for fname, data in split:
    x = StarTabDf(data)
    fname = fname.replace('.mrc','.star')
    with open(split_dir/fname, 'w') as f:
        f.write(x.to_star())

In [16]:
work_folder

PosixPath('/mnt/home/a.murachelli/temp/niels')